$brand-color: #01a6e0;
$dashboard-color: #2c3e50;
$secondary-color: #34495e;
$light-gray: #ecf0f1;
$white: #ffffff;
$hover-color: #2980b9;
$break-small:767px;
$break-medium: 990px;
$break-normal:1299px;
$primary-color: #FFFBF7;
$text-color: #252525;
$font-stack: 'Poppins', sans-serif;
$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);