// @use "../../node_modules/bootstrap/scss/";
// @use "bootstrap/scss/variables";
// @use "bootstrap/scss/mixins";

// Now you can write your custom SCSS
body {
  background-color: #f8f9fa;
}
$break-small:767px;
$break-medium: 990px;
$break-normal:1299px;
$primary-color: #FFFBF7;
$text-color: #252525;
$font-stack: 'Poppins', sans-serif;
// Import partials
@import './grid';
@import './normalize';
@import './common';
@import './dashboard';